body {
  background-color: #fdfdfd;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.Header {
  display: flex;
  position: sticky;
  top: 0px;
  height: 120px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #fdfdfd;
}
.header-logo {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 20px;
}

.header-logo p {
  margin: 10px;
  padding: 20px;
  /* background-color: red; */
  font-size: 20px;
  color: #6e6e6e;
  border-bottom: #ffffff;
  cursor: pointer;
}

.header-logo p:hover {
  color: #fc8019;
}
.header-logo img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.nav-links {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #6e6e6e;
  font-size: 20px;
  margin: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 20px;
}
#search-bar {
  padding: 10px;
  margin: 10px;
  height: 20px;
  width: 35%;
  /* border:none;/ */
}

#search-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin: 10px;
}
.nav-links a:hover {
  color: #fc8019;
}

.restaurant-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.specific-location {
  font-size: 30px;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 20px;
}

.card {
  padding: 10px;
  margin: 10px;
  width: 280px;
  position: relative;
  cursor: pointer;
}

.card:hover {
  /* background-color: #eceaea; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.photo img {
  width: 280px;
  height: 210px;
  position: relative;
  border-radius: 20px;
  /* opacity: 0.9; */
}

.offers {
  position: absolute;
  top: 167px;
  left: 35px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.restaurant-detail {
  margin-left: 20px;
  /* color:#414449; */
  padding: 0px;
}

.restaurant-name,
.delivery-time {
  color: #414449;
  font-size: 20px;
  font-weight: bolder;
  /* padding:0px; */
  margin: 0px;
}

.cusine,
.time,
.location {
  margin: 4px;
}

.filter-btn {
  text-align: center;
  background-color: #edeef1;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

/* Shimer Component */
.shimer-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.shimer-card {
  background-color: #edeef1;
  height: 245px;
  margin: 20px;
  padding: 10px;
  width: 280px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
